body {
    background-color: rgb(30, 145, 218);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    width: 500px;
    height: 800px;
    position: center;
    left: 80%;
    top: 80%;
    margin: -200px 0 0 -250px;
}

.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
 }​

#navbarNavAltMarkup {
    color: rgb(30, 145, 218);
    text-decoration: none;
}